@import "normalize";

html {
  	box-sizing: border-box;
	font-family: 'Inconsolata', monospace;
	font-size: 16px;
	color: #4c4b4f;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	padding-bottom: 2rem;
}

main {
	width: 100%;
}

h1 {
	//padding-left: 1em;
	letter-spacing: 3px;
	font-weight: normal;
	padding-left: 1em;
}

#gallery {
  /* Prevent vertical gaps */
  line-height: 0;
   
  /*-webkit-column-count: 5;
  -webkit-column-gap:   2px;
  -moz-column-count:    5;
  -moz-column-gap:      2px;*/
  column-count:         3;
  column-gap:           2px;  
}

#gallery a,
#gallery img {
	width: 100%;
}

#gallery img {
	display: inline-block;
	opacity: 1;
	transition: opacity ease-in 0.25s;
}

#gallery a {
	display: inline-block;
	padding-bottom: 2px;
}

#gallery .hidden {
	opacity: 0;
}

@media screen and (max-width: 700px) {
	#gallery {
		column-count: 2;
	}
}

@media screen and (max-width: 300px) {
	#gallery {
		column-count: 1;
	}
}

@media screen and (min-width: 1080px) {
	main {
		max-width: 1080px;
		margin: 0 auto;
	}
}