@import "normalize";

html {
  	box-sizing: border-box;
	font-family: 'Inconsolata', monospace;
	font-size: 16px;
	color: #4c4b4f;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	padding-bottom: 2rem;
}

main {
	display: flex;
	margin: 0 auto;
	width: 100%;
	max-width: 700px;
	flex-direction: column;
}

h1 {
	margin-top: 0;
}

h2	{
	padding-left: 2rem;
	letter-spacing: 3px;
	font-size: 2rem;
	margin: 2rem 0 0 0;
	span {
		text-align: right;
		font-style: italic;
		padding-right: 2rem;
		width: 60px;
		display: inline-block;
		letter-spacing: 2px;
	}
}

main > p {
	padding: 0;
	margin: 1rem;
}

form ~ p,
form ~ h2 ~ p {
	margin: 1rem;
}

img {
	max-width: 100%;
}

p,
main > ul {
	line-height: 1.4;
	background-color: white;
	padding: 1.5rem 1.5rem 0 1.5rem;
	margin: 1rem 0 1.8rem 0;

}

main > ul {
	padding-left: 3.5rem;
	list-style-type: none;
}

main > ul li {
	margin-bottom: 0.7rem;
}

main > ul li:before {
	content: "±";
	margin-right: 0.5rem;
	font-size: 0.9rem;
	vertical-align: center;
}

form {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 550px;
	margin: 3.75rem auto;
	padding: 1.5rem;
	background-color: white;
}

form ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

form ul li {
	display: flex;
	justify-content: space-between;
	margin: 0 0 1rem 0;
}

form ul li.last {
	margin: 0;
}

form label,
form input,
form select {
	padding: 0.2rem;
}

form input,
form select {
	border: none;
	border-bottom: 1px solid hsl(0, 0, 64);
	background-color: white;
	padding-left: 0.5rem;
}

form select {
	width: auto;
    -webkit-appearance: none; 
    -moz-appearance: none; 
    -ms-appearance: none; 
    appearance: none;
    
    &::-ms-expand {
      display: none; /*IE10*/
    }
    
    //border: none;
    outline: none;
    border-radius: 0; /*IOS*/

}

form input:focus,
form select:focus {
	background-color: hsl(0, 0, 95);
}

form label.optional {
	color: hsl(0, 0, 50);
}

form input[type=submit] {
	margin: 1rem 0 0 auto;
	border: 1px solid hsl(0, 0, 64);
	padding: 0.5rem 0.95rem;
	font-weight: bold;
	cursor: pointer;
}

form label {
	border: 5px solid transparent;
}

#generator {
	float: right;
	height: 300px;
}

@media screen and (max-width: 700px) {
	main {
		padding: 0 1rem;
	}
}
