<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="manifest" href="site.webmanifest">
	<link rel="apple-touch-icon" href="icon.png">
	<!-- Place favicon.ico in the root directory -->

	<link rel="stylesheet" href="{{ get_url(path="/gallery.css", trailing_slash=false) }}" />
	<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
	<title>◼ {{page.title}}</title>
    <script>
    	// i dont think we need this anymore
    document.addEventListener("DOMContentLoaded", function () {
        var imgs =document.querySelectorAll("a");
        for(var i =0; i < imgs.length -1; i++){
            var strLen = imgs[i].href.length;
            var lastChar = imgs[i].href.slice(strLen-1, strLen);
            if (lastChar === "/"){ 
                imgs[i].setAttribute("href", imgs[i].href.substring(0, strLen-1));
            }
        }
    });
    </script>
	{% endblock head %}
</head>
<body id="gallery-page">
	<main>

		<h1>Archive</h1>
		<hr>

		{{ page.content | safe }}

		<section id="gallery">
		{% for asset in page.assets %}
			{% if asset is ending_with(".jpg") %}
				{% if loop.index <= 1 %}
				<a href="{{ get_url(path=asset, trailing_slash=false) }}">
				  <img class="first" width="360" src="{{ resize_image(path=asset, width=360, op="fit_width") }}" />
				</a>
				&ensp;
				{% endif %}
				{% if loop.index > 1 %}
					<a  href="{{ get_url(path=asset, trailing_slash=false) }}">
				 		<img class="hidden" width="360" data-src="{{ resize_image(path=asset, width=360, op="fit_width") }}" />
					</a>
					&ensp;
				{% endif %}
			{% endif %}
		{% endfor %}
		</section>
	</main>
    <footer>
    	<script type="text/javascript" src="{{ get_url(path="/js/imagesloaded.pkgd.min.js", trailing_slash=false) }}"></script>
    	<script type="text/javascript" src="{{ get_url(path="/js/lodash.custom.min.js", trailing_slash=false) }}"></script>
    	<script type="text/javascript" src="{{ get_url(path="/js/gallery.js", trailing_slash=false) }}"></script>
    </footer>
</body>
</html>
